<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1>Rédiger un Article</h1>
        </div>
        
        <div class="yui-g">
            <% form_for(@article), :html => {:multipart => true} do |f| %>
              <%= f.error_messages %>

              <%= render :partial => 'form', :locals => {:f => f} %>

              <p>
                <%= f.submit 'Enregistrer' %>
              </p>
            <% end %>

            <%= link_to 'Retour', articles_path %>
        </div>
    </div>
</div>



