body {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

p {
	margin-bottom: 0.8em;
	line-height: 1.3em;
}

h1 {
	margin-bottom: 1.4em;
	font-weight: bold;
	color: #1b4dff;
	font-size: 1.3em;
}

/* @group Header */

div#hd {
	height: 122px;
	background-color: #ba0000;
}

#hd #logo {
	display: block;
}

#hd #titre {
	position: relative;
	font-weight: bold;
	font-size: 2em;
}

#hd #menu {
	width: 972px;
	position: relative;
	display: block;
	text-align: center;
	line-height: 3;
	background: url(../images/bk-menu.png) no-repeat;
	height: 52px;
	margin-left: 20px;
	margin-top: 35px;
}

#hd #menu ul li {
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	padding-right: 10px;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 5px;
}

#hd #menu ul li.last {
	border-style: none;
}

#hd #menu ul li a:hover {
	color: yellow;
}

#hd #menu ul li a {
	text-decoration: none;
	color: #a4001f;
}



/* @end */

/* @group Body */

#bd {
	background: #dc655d url(../images/bk-bd.gif) repeat-x 0 top;
	min-height: 768px;
}

#yui-main {
	margin-top: 35px;
	padding-left: 15px;
}

div.yui-b.sidebar {
	margin-top: 35px;
}

p.info-auteur {
}

p.info-auteur span {
	color: orange;
	font-weight: bold;
}

p.img-auteur {
	float: left;
	margin-right: 1.2em;
}

div.bloc {
	display: block;
	text-align: center;
	width: 255px;
	background: url(../images/bk-bloc.png) no-repeat center top;
	height: 125px;
	padding-top: 25px;
}

div.calendar {
	border: 1px solid silver;
	padding: 10px;
}

div.calendar h3 {
	text-align: center;
	font-weight: bold;
	color: maroon;
	margin-bottom: 12px;
}

table.calendar {
	display: block;
	padding-left: 70px;
}

/* @group Flash-Errors */



/* @end */



/* @end */

/* @group Footer */



/* @end */