body {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

p {
	margin-bottom: 0.8em;
	line-height: 1.3em;
	margin-top: 0.8em;
}

h1 {
	margin-bottom: 1.4em;
	font-weight: bold;
	color: black;
	font-size: 1.3em;
}

h2 {
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 10px;
}

h3.green {
	color: teal;
	font-weight: bold;
	font-size: 1.2em;
}

/* @group Header */

div#hd {
	height: 122px;
	background: #de7268 url(../images/bk-hd.jpg) no-repeat;
	border-top: 2px solid #b72116;
	border-bottom: 4px solid #b72116;
	border-right: 2px solid #b72116;
	border-left: 2px solid #b72116;
}

#hd #logo {
	display: block;
}

#hd #titre {
	position: relative;
	font-weight: bold;
	font-size: 2em;
}

#hd #menu {
	width: 972px;
	position: relative;
	display: block;
	text-align: center;
	line-height: 3;
	background: url(../images/bk-menu.png) no-repeat;
	height: 52px;
	margin-left: 20px;
	margin-top: 15px;
}

#hd #logo {
	margin-left: 15px;
}

#hd #menu ul li {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	margin-top: 8px;
	margin-right: 10px;
	border-right: 2px groove #f6f6f6;
	font-size: 1.2em;
	padding-right: 10px;
	line-height: 3;
	height: 40px;
}

#hd #menu ul li.last {
	border-style: none;
}

#hd #menu ul li a:hover {
	color: orange;
}

#hd #menu ul li a {
	text-decoration: none;
	color: #5a5a5a;
}

/* @end */

/* @group Body */

.yui-b>h1 {
	background: url(../images/bk_h1.png) no-repeat left top;
	height: 40px;
	line-height: 30px;
	padding-left: 15px;
	padding-top: 5px;
	color: white;
	margin-top: 15px;
	margin-bottom: 10px;
}

.yui-g.tosee>h1 {
	background: url(../images/bk_h1.png) no-repeat left top;
	height: 40px;
	line-height: 30px;
	padding-left: 15px;
	padding-top: 5px;
	color: white;
	margin-top: 15px;
	margin-bottom: 10px;
}

.yui-g.tosee .yui-u.first span.date-info {
	font-style: italic;
	font-size: 0.85em;
}

div.yui-g.about {
	background-color: #fede58;
	padding: 7px;
	margin-bottom: 10px;
	margin-top: 5px;
	border: 2px double silver;
}

div.yui-g.articles {
	margin-bottom: 10px;
}

#bd {
	background: white none repeat-x 0 top;
	min-height: 768px;
	border: 1px solid silver;
}

#yui-main {
	margin-top: 35px;
	padding-left: 15px;
}

div.yui-b.sidebar {
	margin-top: 35px;
}

div.info-auteur {
	float: left;
	margin-right: 10px;
	font-size: 0.9em;
	color: #eda096;
	text-align: center;
	font-style: italic;
}

p.info-auteur span {
	color: orange;
	font-weight: bold;
}

p.img-auteur {
	float: left;
	margin-right: 1.2em;
}

div.bloc {
	display: block;
	text-align: center;
	width: 255px;
	background: url(../images/bk-bloc.png) no-repeat center top;
	height: 125px;
	padding-top: 25px;
	margin-left: 25px;
}

div.bloc.contact {
	background: url(../images/bk-contact.png) no-repeat center top;
	height: 190px;
}

div.calendar {
	border: 1px solid silver;
	padding: 10px;
}

div.calendar h3 {
	text-align: center;
	font-weight: bold;
	color: maroon;
	margin-bottom: 12px;
}

table.calendar {
	display: block;
	padding-left: 45px;
}

div.yui-g>table.membre {
	text-align: center;
	width: 90%;
}

p.question {
	font-weight: bold;
	font-size: 1.2em;
	color: teal;
}

/* @group Flash-Errors */



/* @end */



/* @end */

/* @group Footer */

#ft {
	background-color: #b72116;
	text-align: center;
	padding: 5px;
	color: silver;
}



/* @end */