<div class="yui-g">
    <!-- TODO : Register block -->
    <div class="bloc dev-membre">
        <h1>Devenez Membre</h1>
        
        <p>Créer un compte</p>
        <p>
            <%= link_to "S'inscrire", register_path() %>
        </p>
    </div>

    <div class="bloc membre">
        <h1>Déjà Membre ?</h1>
        <% if logged_in? %>
            <p><%= link_to "Deconnexion", logout_path() %></p>
        <% else %>
            <p><%= link_to "Identifiez-vous", login_path() %></p>
        <% end %>
    </div>
</div>